@mixin radius {
    border-radius: $borderRadius;
    -webkit-border-radius: $borderRadius;
    -moz-border-radius: $borderRadius;
    -ms-border-radius: $borderRadius;
    -o-border-radius: $borderRadius;
}

@mixin flex {
    display: flex;
        justify-content: center;
}

@mixin noOutLine {
    outline: none;
    border: none;
}